# =========================
# .NET / MAUI
# =========================
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/

# =========================
# MAUI generated
# =========================
*.apk
*.aab
*.ipa
*.app
*.appx
*.appxbundle
*.msix
*.msixbundle

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# =========================
# NuGet
# =========================
packages
